form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 5rem 1.5rem;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 8px 1px rgba(0, 0, 0, 0.2);
  .form-group,
  button {
    width: 90%;
    height: 6rem;
    margin-bottom: 2.5rem;
  }

  .form-group {
    margin-bottom: 3.5rem;
  }

  input {
    width: 100%;
    height: 100%;
    padding-left: 3rem;
    border: 1px solid #d2d2d2;
    border-radius: 6px;
    font-size: 1.6rem;
    color: $neutral-dark-blue;
    outline: $neutral-gray-blue;
    font-weight: 600;
    &:focus {
      border: 1px solid $neutral-dark-blue;
    }
  }

  button {
    background: $primary-green;
    color: white;
    border: none;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 500;
    box-shadow: 0px 4px 1px hsl(154, 100%, 34%);
    &:active {
      transform: translateY(10%);
      box-shadow: none;
    }
  }
  p {
    font-size: 1.2rem;
    color: $neutral-gray-blue;
    span {
      color: $primary-red;
      cursor: pointer;
      font-weight: 600;
    }
  }
}

.error {
  color: $primary-red;
  padding-left: 1rem;
  padding-top: 0.7rem;
  font-size: 1.4rem;
}

