// GLOBAL STYLES AND VARIABLES 

$primary-red: hsl(0, 100%, 74%);
$primary-green: hsl(154, 59%, 51%);
$blue-accent: hsl(248, 32%, 49%);
$neutral-dark-blue: hsl(249, 10%, 26%);
$neutral-gray-blue: hsl(246, 25%, 77%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  background: $primary-red url('../images/bg-intro-desktop.png');
}

.main-container {
  margin: auto;
  width: 80%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

::-webkit-input-placeholder {
  font-size: 1.6rem;
  font-weight: 600;
}

@import './header';
@import './signup';
@import './signup-btn';
@import './form'